@model ContatoModel
@{
    ViewData["Title"] = "Editar Contato";
}
<div class="text-center">
    <h1 class="display-4">Editar Contato</h1>

</div>

<form asp-controller="Contato" asp-action="Alterar" method="post">
    <!-- nao deixar visivel o id-->
    <input type="hidden" asp-for="ID" />
    <div class="mb-3">
        <label for="nome">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite seu nome">
        @Html.ValidationMessageFor(x =>x.Nome)
    </div>

    <div class="mb-3">
        <label for="email">Email </label>
        <input type="text" asp-for="Email" class="form-control" placeholder="Digite seu Email" />
        @Html.ValidationMessageFor(x =>x.Email)
    </div>

    <div class="mb-3">
        <label for="celular">Celular</label>
        <input type="text" asp-for="Celular" class="form-control" placeholder="Digite seu nome">
        @Html.ValidationMessageFor(x =>x.Celular)
    </div>


    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary ">Alterar Contato</button>
        <a class="btn btn-secondary" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>
      </div>
</form>